<a
  class="reveal inline-block font-heading uppercase rounded border animate-bounce bg-main text-white border-gray-200 px-5 py-3 font-medium shadow-sm transition-colors hover:bg-dark  hover:scale-105"
  href="https://calendly.com/sarpin-agency/30min" target="_blank"
>
  Agendar Consultoria
</a>
