---
import Whatsapp  from "../../icons/whatsapp.svg";
---

<div class="fixed bottom-5 right-5 z-50">
    <a href="https://api.whatsapp.com/send/?phone=573053412415&text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios" target="_blank">
        
        <Whatsapp width={50} height={50} name="whatsapp" class="animate-bounce" />
    </a>
</div>