
@import "tailwindcss";
 

@theme {
      /* Colores base */
--color-main: #284B63;    /* Indigo dye */
--color-second: #e3ff04;  
--color-light: #D9D9D9;    /* Platinum */
--color-dark: #353535;       /* Jet */
--color-mid: #AEC3B0;       /* Ash gray */

/* Colores funcionales */
--color-success: #4CAF50;    /* Verde estándar para web */
--color-warning: #FFB74D;    /* Ámbar más claro y distinguible */
--color-error: #F44336;      /* Rojo estándar para errores */
--color-info: #2196F3;       /* Nuevo color para mensajes informativos */
--font-heading: 'NATS', sans-serif;
--font-body: "Poppins", sans-serif;
    
}

@layer utilities {
  @keyframes wave {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  .animate-wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 2s infinite;
  }
}
