---
import Creative from "../../icons/creative.svg";
---

<section>
    <div class="bg-white overflow-hidden relative px-4">
        <div class="inset-0 mix-blend-screen overflow-hidden">
          <div
            class="w-full h-[130%] bottom-0 z-10 bg-gradient-to-t from-white/100 from-90% to-white/0 to-100%"
          >
          </div>
          <img
            src="https://images.ctfassets.net/beeay9aupl8z/4XL2t3oIIERhMgKq6jCgbi/d04ff803def8681502f8c776be443d2b/HomeHeroBackground.png?q=65&fm=webp&w=500"
            srcset="https://images.ctfassets.net/beeay9aupl8z/4XL2t3oIIERhMgKq6jCgbi/d04ff803def8681502f8c776be443d2b/HomeHeroBackground.png?q=65&fm=webp&w=1805 1805w, https://images.ctfassets.net/beeay9aupl8z/4XL2t3oIIERhMgKq6jCgbi/d04ff803def8681502f8c776be443d2b/HomeHeroBackground.png?q=65&fm=webp&w=1200 1200w, https://images.ctfassets.net/beeay9aupl8z/4XL2t3oIIERhMgKq6jCgbi/d04ff803def8681502f8c776be443d2b/HomeHeroBackground.png?q=65&fm=webp&w=800 800w, https://images.ctfassets.net/beeay9aupl8z/4XL2t3oIIERhMgKq6jCgbi/d04ff803def8681502f8c776be443d2b/HomeHeroBackground.png?q=65&fm=webp&w=500 500w"
            alt=""
            sizes="95vw"
            class="absolute top-0 left-0 w-full h-full object-cover object-center"
          />
        </div>
        <Creative />
      </div>
</section>