---

---

<section
  id="services"
  class="w-full place-content-center mx-auto overflow-hidden"
>
  <div
    class="flex justify-center items-center h-[50vh] contenedor"
  >
    <div class="hidden md:flex">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1542744095-291d1f67b221?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="reveal h-full w-full object-cover sm:h-[50vh] sm:self-start rounded-r-xl"
      />
    </div>
    <div class="w-full px-4 md:px-[5%] text-right space-y-5">
      <p
        class="inline-block text-2xl uppercase font-heading border-b border-black pb-1"
        words-slide-from-right
        text-split
      >
        Diseño y Desarrollo Web
      </p>
      <h1
        class="text-2xl font-body md:text-4xl "
        letters-fade-in-random
        text-split
      >
        <span class="text-main">Diseño Web Estratégico</span> <br /> Páginas Orientadas a Resultados de Negocio
      </h1>
      <a href="/servicios/desarrollo-web"
            type="submit"
            class="bg-main px-6 py-2 font-body font-light text-lg text-white rounded-lg hover:bg-main/90 transition hover:cursor-pointer"
          >
            Saber más
    </a>

    </div>
  </div>

  <div
    class="bg-main flex justify-center items-center h-[50vh] contenedor"
  >
    <div class="w-full max-w-screen px-4 md:px-[5%] space-y-5">
      <p
        class="sub-heading inline-block text-white text-2xl font-heading uppercase border-b border-white pb-1"
        words-slide-from-right
        text-split
      >
        SEO
      </p>
      <h1 
        class="text-2xl font-body md:text-4xl text-white"
        letters-fade-in
        text-split
      >
        <span class="text-second">Posicionamiento Web</span> <br /> Destaca en tu Sector
        en <span 
         id="city"></span>
      </h1>
      <a href="/servicios/optimizacion-de-motores"
            type="submit"
            class="bg-white px-6 py-2 font-body font-light text-lg rounded-lg hover:bg-white/90 transition hover:cursor-pointer"
          >
            Saber más
    </a>
    </div>
    <div class="hidden md:flex reveal">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1560472354-b33ff0c44a43?q=80&w=2151&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-full w-full object-cover sm:h-[50vh] sm:self-end rounded-l-xl"
      />
    </div>
  </div>

  <div class="bg-white flex justify-center items-center h-[50vh] contenedor">
    <div class="hidden md:flex ">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1576153192396-180ecef2a715?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="reveal h-full w-full object-cover sm:h-[50vh] sm:self-start rounded-r-xl"
      />
    </div>
    <div class=" w-full max-screen px-4 md:px-[5%] text-right space-y-5">
      <p
        class="inline-block  text-2xl font-heading uppercase border-b border-black pb-1"
        words-slide-from-right
        text-split
      >
        Diseño de Marcas
      </p>
      <h1
        class="text-2xl font-body md:text-4xl"
        words-slide-up
        text-split
      >
       <span class="text-main"> Desarrollo de Identidad Visual </span><br /> Diseño de Logotipos y arquitectura de marca
      </h1>
      
      <a href="/servicios/manual-de-identidad"
            type="submit"
            class="bg-main px-6 py-2 font-body font-light text-lg text-white rounded-lg hover:bg-main/90 transition hover:cursor-pointer"
          >
            Saber más
    </a>
    
    </div>
  </div>

<!-- Sección 1: Intro -->
<div class="bg-main flex justify-center items-start h-[50vh]">
  <div class="w-full max-w-screen-xl px-4 sm:px-6 md:px-[5%] pt-16 sm:pt-20 lg:pt-24 space-y-10">
    <h2 class="text-4xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-heading font-bold text-center" words-slide-from-right text-split>
      ¿Por qué elegirnos?
    </h2>
    <p class="text-lg md:text-xl lg:text-2xl font-body font-light text-white text-center" letters-slide-up text-split>
      Nos enfocamos en ayudarte a potenciar la experiencia de tus usuarios online y potencialmente tus numeros.
    </p>
    
    <p class="text-lg md:text-xl lg:text-2xl font-body font-light text-white text-center" letters-slide-up text-split>
      Nuestro enfoque se centra en crear una presencia digital estratégica, personalizada y efectiva, que no solo atraiga a tu audiencia, sino que también convierta visitantes en clientes fieles.
    </p>
  </div>
</div>

<!-- Sección 2: Scrub Each Word -->
<div class="bg-main text-white flex justify-center items-center py-12">
  <div class="w-full max-w-screen-xl px-4 md:px-[5%] contenedor">
    <h2 class="text-4xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-heading font-bold text-center" words-slide-from-right text-split>
      Enfoque Colaborativo
    </h2>
    <div class="flex flex-col md:flex-row items-center gap-6 lg:py-10">
      <h1 class="text-lg md:text-xl lg:text-2xl font-body font-light text-white" words-slide-from-left text-split>
        Trabajamos junto con los miembros <br />de tu equipo en tiempo real.
       
      </h1>
      <div class="w-full md:w-[40%] reveal">
        <img
          alt="Imagen ilustrativa"
          src="https://images.unsplash.com/photo-1521790361543-f645cf042ec4?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0"
          class="w-full h-[200px] sm:h-[250px] md:h-[300px] object-cover rounded-xl"
        />
      </div>
    </div>
  </div>
</div>

<!-- Sección 3: Slide From Right -->
<div class="bg-main text-white flex justify-center items-center py-20">
  <div class="w-full max-w-screen-xl px-4 md:px-[5%]">
    <h2 class="text-4xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-heading font-bold text-center" words-slide-from-right text-split>
      Desarrollo Innovador
    </h2>
    <div class="flex flex-col md:flex-row items-center gap-6 lg:py-10">
      <h1 class="font-body text-2xl sm:text-4xl md:text-5xl text-center md:text-left" words-slide-from-right text-split>
        Mantente a la vanguardia con acceso <br /> a actualizaciones constantes.
       
      </h1>
      <div class="w-full md:w-[40%] reveal">

        <img
          alt="Imagen ilustrativa"
           src="https://images.unsplash.com/photo-1636645096936-fc8704bc8083?q=80&w=1255&auto=format&fit=crop&ixlib=rb-4.1.0"
          class="w-full h-[200px] sm:h-[250px] md:h-[300px] object-cover rounded-xl"
        />
        
      </div>
    </div>
  </div>
</div>

<!-- Sección 4: Final CTA -->
<div class="bg-main text-white flex justify-center items-center py-24">
  <div class="w-full font-heading max-w-screen-xl px-4 md:px-[5%]">
   <h2 class="text-4xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-heading font-bold text-center" words-slide-from-right text-split>
      Soluciones Escalable
    </h2>
    <h1 class="font-body text-2xl md:text-4xl text-center md:text-left" letters-fade-in text-split>
      Con nuestras soluciones ofrecemos la escalabilidad <br />necesaria para adaptar tu negocio a las necesidades del mercado conforme pasa el tiempo.
  
    </h1>
  </div>
</div>

</section>

<script>
   // @ts-nocheck
    fetch('https://ipapi.co/json/')
      .then(response => response.json())
      .then(data => {
        const city = data.city;
        document.getElementById('city').textContent = `${city}`;
      })
      .catch(error => {
        console.error('Error al obtener la ubicación:', error);
        document.getElementById('city').textContent = 'No se pudo determinar tu ciudad.';
      });
  </script>

<script>
  // @ts-nocheck
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("astro:page-load", () => {
    const split = new SplitType("[text-split]", {
      types: "words, chars",
      tagName: "span",
    });

    function createScrollTrigger(triggerElement, timeline) {
      ScrollTrigger.create({
        trigger: triggerElement,
        start: "top bottom",
        onLeaveBack: () => {
          timeline.progress(0).pause();
        },
      });
      ScrollTrigger.create({
        trigger: triggerElement,
        start: "top 80%",
        onEnter: () => timeline.play(),
      });
    }

    function animateWords(selector, props) {
      document.querySelectorAll(selector).forEach((el) => {
        const tl = gsap.timeline({ paused: true });
        tl.from(el.querySelectorAll(".word"), props);
        createScrollTrigger(el, tl);
      });
    }

    function animateChars(selector, props) {
      document.querySelectorAll(selector).forEach((el) => {
        const tl = gsap.timeline({ paused: true });
        tl.from(el.querySelectorAll(".char"), props);
        createScrollTrigger(el, tl);
      });
    }

    animateWords("[words-slide-up]", {
      opacity: 0,
      yPercent: 100,
      duration: 0.6,
      ease: "back.out(2)",
      stagger: { amount: 0.5 },
    });
    animateChars("[scrub-each-word]", {
         opacity: 0.2, duration: 0.2, ease: "power1.out", stagger: { each: 0.05 },
         scrub: true
    });
    animateChars("[letters-fade-in]", {
      opacity: 0,
      duration: 0.5,
      ease: "power1.out",
      stagger: { amount: 0.8 },
    });
    animateWords("[words-slide-from-right]", {
      opacity: 0,
      x: "1em",
      duration: 0.8,
      ease: "power2.out",
      stagger: { amount: 0.2 },
    });
    animateWords("[words-slide-from-left]", {
      opacity: 0,
      x: "-1em",
      duration: 0.8,
      ease: "power2.out",
      stagger: { amount: 0.2 },
      scrub: true,
    });
    animateChars("[letters-slide-up]", {
      opacity: 0,
      yPercent: 100,
      duration: 0.2,
      ease: "power1.out",
      stagger: { amount: 0.6 },
    });
    animateChars("[letters-fade-in-random]", {
      opacity: 0,
      duration: 0.05,
      ease: "power1.out",
      stagger: { amount: 0.4, from: "random" },
    });

    // Reveal images
    document.querySelectorAll(".reveal").forEach((contenedor) => {
      const img = contenedor.querySelector("img");
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: contenedor,
          toggleActions: "restart none none reset",
        },
      });
      tl.set(contenedor, { autoAlpha: 1 });
      tl.from(contenedor, { xPercent: -100, duration: 1.5, ease: "power2.out" });
      tl.from(
        img,
        { xPercent: 100, scale: 1.3, duration: 1.5, ease: "power2.out" },
        "<"
      );
    });
  });
</script>
