---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y Condiciones">
    <main class="pt-[25%] md:pt-[10%]">
        <section class="container p-10 space-y-5 mx-auto">
  <h1 class="font-heading text-main text-xl md:text-2xl font-bold md:text-center ">Términos y Condiciones</h1>
  <p class="font-body text-right text-xs">Última actualización: 10/30/2025</p>

  <p class="font-body">
    Bienvenido/a a nuestro sitio web. Al acceder y utilizar este portal, aceptas cumplir con los presentes Términos y Condiciones. Te recomendamos leerlos detenidamente antes de hacer uso de nuestros servicios.
  </p>

  <h2 class="font-heading font-medium text-xl">1. Aceptación de los términos</h2>
  <p class="font-body">
    El acceso y uso de este sitio implica la aceptación plena de estas condiciones. Si no estás de acuerdo, por favor abstente de utilizar nuestros servicios.
  </p>

  <h2 class="font-heading font-medium text-xl">2. Uso del sitio web</h2>
  <p class="font-body">
    El contenido publicado en esta página es únicamente con fines informativos y comerciales.
  </p>
  <p class="font-body">
    No está permitido utilizar este sitio con fines ilegales, fraudulentos o que puedan dañar la imagen de nuestra empresa.
  </p>
  <p class="font-body">
    Nos reservamos el derecho de modificar, actualizar o retirar cualquier contenido sin previo aviso.
  </p>

  <h2 class="font-heading font-medium text-xl">3. Propiedad intelectual</h2>
  <p class="font-body">
    Todo el contenido, diseño gráfico, logotipos, imágenes, textos y software del sitio son propiedad exclusiva de [Nombre de la empresa] o de sus respectivos titulares. Queda prohibida su reproducción total o parcial sin autorización expresa.
  </p>

  <h2 class="font-heading font-medium text-xl">4. Servicios y productos</h2>
  <p class="font-body">
    Nos reservamos el derecho de modificar, suspender o descontinuar cualquier servicio o producto ofrecido en este sitio en cualquier momento y sin previo aviso.
  </p>

  <h2 class="font-heading font-medium text-xl">5. Limitación de responsabilidad</h2>
  <p class="font-body">
    SARPIN AGENCY no será responsable de daños directos o indirectos derivados del uso de este sitio o de la imposibilidad de acceder a él. Tampoco garantiza que el sitio esté libre de errores, virus o interrupciones.
  </p>

  <h2 class="font-heading font-medium text-xl">6. Enlaces externos</h2>
  <p class="font-body">
    Este sitio puede contener enlaces a páginas de terceros. No somos responsables del contenido, políticas o prácticas de dichos sitios externos.
  </p>

  <h2 class="font-heading font-medium text-xl">7. Modificaciones de los términos</h2>
  <p class="font-body">
    Podemos actualizar estos Términos y Condiciones en cualquier momento. Los cambios entrarán en vigor una vez publicados en esta página.
  </p>
</section>
    </main>

</Layout>