---

---

<section id="about" class="relative z-10 bg-main pb-20 pt-32 md:pt-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-12">
    <div class="flex flex-col md:flex-row md:items-center gap-6">
      <h2 words-slide-from-left text-split class="text-4xl sm:text-5xl lg:text-7xl xl:text-8xl text-white font-heading font-bold">
        Colabora con nosotros
      </h2>
    </div>

    <div class="mt-16 md:mt-32">
      <div class="grid gap-12">
        <!-- Imagen y Texto -->
        <div class="grid md:grid-cols-3 gap-6 items-start">
          <div class="md:col-span-2">
            <img
              class="w-full h-auto rounded reveal"
              src="https://images.unsplash.com/photo-1636645096936-fc8704bc8083?q=80&w=1255&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="unnamed duo photo"
              width="1500"
              height="1000"
            />
          </div>

          <div  class="md:col-span-1 md:self-center">
            <p words-slide-from-right text-split class="text-lg md:text-xl lg:text-2xl font-body font-light text-white">
              Desbloquea todo el potencial de tus proyectos desde el diseño y desarrollo web hasta el marketing y la analítica. Te ayudamos a crear una presencia en línea sólida y atractiva que impulse tus resultados.
            </p>
          </div>
        </div>

        <!-- Botón centrado -->
        <div class="flex justify-center reveal">
          <a href="/nosotros" class=" bg-second px-6 py-3 rounded-md font-body text-black hover:bg-amber-100 transition">
            Saber más
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

