---
import Logo from "../../assets/SARPIN_AGENCY.svg";
import Favicon from "../../assets/favicon.svg";

const FooterLinks = [
  {
    title: "Links",
    items: [
      { text: "Nosotros", href: "/nosotros" },
      { text: "Blog", href: "/blog" },
      { text: "Servicios", href: "/servicios" },
    ],
  },
  {
    title: "Legal",
    items: [
      { text: "Política de Privacidad", href: "/politica-privacidad" },
      { text: "Términos y condiciones", href: "/terminos-condiciones" },
    ],
  },
];

const links = FooterLinks[0].items;
const legal = FooterLinks[1].items;
---

<footer class="space-y-5">
  <div class="grid grid-cols-1 md:grid-cols-2 bg-second/90 py-10">
    <!-- Left title -->
    <div
      class="m-auto flex flex-col items-center text-center md:text-left md:gap-2"
    >
      <h1
        class="text-5xl md:text-5xl lg:text-8xl font-body"
        words-slide-from-left
        text-split
      >
        Trabajemos <br />
        Juntos <div class="inline-block animate-wave">👋</div>
      </h1>
    </div>

    <!-- Right form -->
    <div
      class="m-auto flex flex-col items-center md:flex-row md:text-left md:gap-2 reveal font-body p-5"
    >
      <form id="form-brevo" class="grid gap-4 font-body">
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label
              for="nombre"
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              >Nombre</label
            ><input
              id="nombre"
              name="NOMBRE"
              required
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="Tu nombre"
            />
          </div><div class="space-y-2">
            <label
              for="apellido"
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              >Apellido</label
            ><input
              id="apellidos"
              name="APELLIDOS"
              required
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="Apellido"
            />
          </div>
        </div><div class="space-y-2">
          <label
            for="email"
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            >Correo electrónico</label
          ><input
            id="email"
            name="EMAIL"
            required
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="tucorreo@ejemplo.com"
            type="email"
          />
        </div>
        <div class="space-y-2">
          <label
            for="whatsapp"
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          >
            Teléfono
          </label>
          <div class="flex">
            <div
              class="flex items-center h-10 p-3 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md text-sm select-none"
            >
              +57
            </div>
            <input
              id="whatsapp"
              name="WHATSAPP"
              required
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
              type="tel"
            />
          </div>
        </div>
        <div class="space-y-2">
          <label
            for="servicio"
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            >Servicio de interés</label
          >
          <select
            id="servicio"
            name="SERVICIO"
            required
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            ><option value="">Selecciona un servicio</option><option
              value="video">Videovigilancia</option
            ><option value="alarm">Sistemas de alarma</option><option
              value="access">Control de Acceso</option
            ><option value="other">Otro</option></select
          >
        </div><div class="space-y-2">
          <label
            for="mensaje"
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            >Mensaje</label
          ><textarea
            id="mensaje"
            name="MENSAJE"
            class="flex min-h-[100px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Cuentanos acerca de tus necesidades en seguridad..."
          ></textarea>
        </div>
        <button
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-main text-white hover:bg-dark h-11 rounded-md px-8"
          type="submit">Enviar solicitud</button
        >
      </form>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div
      class="m-auto flex flex-col items-center text-center md:flex-row md:text-left md:gap-2"
    >
      <Favicon class="size-10" />
      <p class="text-xl font-body">
        Transformamos su visión empresarial <br />
        en experiencias digitales únicas.
      </p>
    </div>

    <div class="hidden md:grid grid-cols-2">
      <div>
        <p class="font-heading uppercase text-lg">Links</p>
        <ul>
          {
            links.map((item) => (
              <li class="group">
                <a href={item.href} class="font-body text-md hover:text-main">
                  {item.text}
                </a>
                <div class="h-[0.2px] ml-auto duration-300 origin-left bg-main scale-x-20 group-hover:scale-x-100" />
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <p class="font-heading uppercase text-lg">Legal</p>
        <ul>
          {
            legal.map((item) => (
              <li class="group">
                <a href={item.href} class="font-body hover:text-main">
                  {item.text}
                </a>
                <div class="h-[0.2px] ml-auto duration-300 origin-left bg-main scale-x-20 group-hover:scale-x-100" />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <div class="mx-auto opacity-35">
    <a href="/">
      <Logo width="auto" height="auto" />
    </a>
  </div>
</footer>

<dialog
  id="responseDialogSection"
  class="mx-auto rounded-xl p-6 shadow-lg my-auto"
>
  <p id="responseMessageSection" class="font-body"></p>
  <form method="dialog">
    <button class="mt-4 px-4 py-2 rounded-lg bg-blue-600 text-white"
      >Cerrar</button
    >
  </form>
</dialog>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("form-brevo");
    const dialog = document.getElementById("responseDialogSection");
    const messageEl = document.getElementById("responseMessageSection");

    form.addEventListener("submit", async function (e) {
      e.preventDefault();

      const data = new FormData(form);
      const payload = {
        nombre: data.get("NOMBRE"),
        apellidos: data.get("APELLIDOS"),
        email: data.get("EMAIL"),
        whatsapp: "+57" + data.get("WHATSAPP").replace(/\D/g, ""),
        mensaje: data.get("MENSAJE"),
        listId: 8,
      };

      try {
        const response = await fetch("/api/contact", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Cache-Control":
              "no-store, no-cache, must-revalidate, proxy-revalidate",
            Pragma: "no-cache",
          },
          body: JSON.stringify(payload),
        });

        if (response.ok) {
          // Enviar evento a Google Tag Manager
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            event: "brevo_form_success",
            form_name: "form-brevo",
            email: payload.email,
          });

          messageEl.innerText =
            "✅ ¡Gracias por tu mensaje! Nos comunicaremos a la mayor brevedad posible.";
          dialog.showModal();
          form.reset();
        } else {
          // Evento de error
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            event: "brevo_form_error",
            form_name: "form-brevo",
            error_message: error.error?.message || "unknown",
          });

          const error = await response.json();
          messageEl.innerText =
            "⚠️ Hubo un error: " + (error.error?.message || "Intenta de nuevo");
          dialog.showModal();
        }
      } catch (error) {
        console.error(error);
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: "brevo_form_error",
          form_name: "form-brevo",
          error_message: error?.message,
        });
        messageEl.innerText = "❌ Error en la conexión con el servidor.";
        dialog.showModal();
      }
    });
  });
</script>
